body {
  font-family: ProximaNova,Helvetica,Arial,sans-serif;
  font-style: normal;
  color: #202428;
}
.template-auth {
  min-height: 710px;
}
.border-light {
  border: 1px solid #e8e8e8;
}
.mb10 {
  margin-bottom: 10px;
}
/* .pure-g {
  letter-spacing: -.32em;
  text-rendering: optimizespeed;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-flex;
  display: flex;
} */

.layout-auth-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.pure-u-2-5{
  width: 40%;
  box-sizing: border-box;
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}
.layout-auth-title {
  font-family: ProximaNova,Helvetica,Arial,sans-serif;
  color: #000;
}
.layout-auth-action {
  color: #8c8c8c;
  /* margin-top: 1px; */
}
.layout-auth-action a {
  font-weight: 600;
  color: #fb1b26;
}
a {
  /* color: #202428;
  font-weight: 400; */
  text-decoration: none;
  cursor: pointer;
}
.btnOutline--full {
  width: 80%;
  display: block;
  text-align: center;
  
}
.btnOutline--grey {
  border-color: #d9d9d9;
}
.btnOutline {
  font-weight: 400;
  border-color: #202428;
  color: #202428;
  padding: 5;
}
/* .btnOutline {

  vertical-align: middle;
 
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  line-height: 24px;
  outline: 0;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
 
  background: 0 0;
  position: relative;
} */

.button{
  width: 100%;
  color: black;
  text-transform: none;
  margin-bottom : 1px;
  border-color: #d9d9d9;
}



.button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
.layout-auth-subtitle {
  font-family: ProximaNova,Helvetica,Arial,sans-serif;
  font-weight: 400;
}
iframe{
  display: none;
}

.pure-u-1 {
  width: 80%;
}
.pure-u-2{
  width: 40%;
}
.mt10{
  margin-top: 1px;
}
.btn-flat.red {
  background-color: #fb1b26;
}
/* .btn-flat.red.:hover{
  background-color: #fb1b26;
} */
.btn-full {
  width: 50%;
  box-sizing: border-box;
}
.btn-flat--big {
  font-size: 18px;
  line-height: 0px;
  /* padding: 12px 15px; */
}
.btn-flat {
  /* font-weight: 100; */
  /* padding: 9px 12px; */
  border-radius: 8px;
  color: #fff;
  background-color: #fb1b26;
  display: inline-block;
  cursor: pointer;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
}
button, select {
  text-transform: none;
}
button {
  overflow: visible
}
.layout-auth-notice {
  font-size: 13px;
  line-height: 19px;
  color: #8c8c8c;
  display: block;
  margin-top: 5px;
}
.btnOutline {
  font-weight: 400;
  border-color: #202428;
  color: #202428;
}
.css-1wu8h1t-MuiButtonBase-root-MuiButton-root:hover{
    border: 1px solid #d9d9d9;
}
.css-16sb7fh-MuiButtonBase-root-MuiButton-root:hover{
  border: 1px solid #d9d9d9;
}
.css-1p1frc5-MuiButtonBase-root-MuiButton-root:hover{
  border: 1px solid #d9d9d9;
}
.css-q8hpuo-MuiFormControl-root{
  width: 40% !important;
}
/* .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  margin-left: 45%;
} */

.css-6eycvs-MuiPaper-root-MuiCard-root {
  width: 80%;
}
.css-i4bv87-MuiSvgIcon-root{
  color: #000;
}
.css-yc8qyv{
  justify-content: right !important;
}
.homeHeading{
  height: 384px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  /* position: relative */
}
.homeHeading_background{
  /* position: absolute; */
  /* left: 0; */
  height: 100%;
  /* z-index: -1; */
  width: 100%;
}
.bigimg{
  height: 250px !important;
  width: 300px !important;
}
.smallimg{
  height: 180px !important;
  width: 100px !important;
}
.galary {
  position:relative;
  top: 25px;
  left: 25px;
}
.imgA1 {
  z-index: 1;
  border: 2px solid black;
 border-bottom: none;
 object-fit: cover;
 object-position: center top;
 width: 100%;
}
.imgB1 {
  z-index: 3;
  border: 2px solid black;
  margin-top: 10%;
  left: -15px;
  top: 0;
  height: 250px;
  width:150px;
}
.websitesComponent__cardItem {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  border-radius: .5rem;
  cursor: pointer;
  position: relative;
}
#sample .swiper-slide{
  width: auto !important;
  margin-right: 5px;
}
.wrapper{
  width: 100%;
  margin: 20px auto;
}
nav{
  /* position: absolute; */
  /* background: #262626; */
  font-size: 12px;
}
nav > ul{
  position: relative;
  /* display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex; */
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
nav Link{
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
nav ul li {
  color: #fff;
  list-style: none;
  transition: 0s;
}
ul img {
  width: 85%;
}
nav > ul > li > Link{
  padding: 5px 5px;
}
nav ul > li.dropdown > Link:after{
  position: relative;
  float: right;
  content: '';
  margin-left: 10px;
  margin-top: 8px;
}
nav > ul > li:hover{
  /* background: #668fc5; */
  border-bottom: 3px solid red;
}
nav ul.menu-area{
  padding: 40px 40px 0 40px;
  background: #fff;
  text-align: left;
  border-top: 5px solid #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.6);
  z-index: 2;
  position: absolute;
  /* display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex; */
  display: flex;
  flex-wrap: wrap;
  width: 102%;
  top: -9999px;
  left: 0;
  margin-top: 10px;
}
nav ul li:hover ul.menu-area{
  top: 100%;
}
nav ul.menu-area ul {
  width: 15%;
  margin-bottom: 40px;
  color: #262626;
}
nav ul.menu-area h4{
  margin-bottom: 15px;
  text-transform: uppercase;
}
nav ul.menu-area ul li{
  display: block;
}
nav ul.menu-area ul li Link{
  margin-top: 10px;
  color: #000;
  text-transform: none;
}
nav ul.menu-area ul li Link:hover{
  color: #164c82;
}.css-1cmksfb-MuiTypography-root-MuiLink-root{
  padding: 0px 8px !important;
  color: #000 !important;
}
.css-mhc70k-MuiGrid-root{
  margin-top: 0px !important;
}
/* .foottop{
  font-size: 12px;
  white-space: nowrap;
  margin-left: 10px;
  margin-right: 10px;
} */
.MuiListItem-root{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.swiper-button-next, .swiper-button-prev{
  color: #fff !important;
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: white !important;
}
.itemLoc{
  list-style: none;
    margin: 0;

}
.itemLoc li{
  width:23%;
  border-bottom: 1px solid #ccc;
  margin: 10px;
  display: inline-block;
}
.itemLoc li span{
  font-size: 14px;
}
.left{
  float: left;
}
.right{
  float: right;
}
.couplesbtn{
margin-right: 10% !important;  
}
@media only screen and (max-width: 1024px) {
  .imgalign{
    display: flex !important;
  }
  .rescard{
    max-width: 250px !important;
  }
  /* .couples{
    margin-left: 10% !important;
  } */
  .itemLoc li{
    width:20%!important;
  }
  .itemLoc li span{
    font-size: 13px!important;
  }
  .hide{
    display: none;
  }
  .css-1xv1wig{
    max-width: initial;
  }
  .css-1tb4ett-JoyCard-root{
    width: 350px !important;
  }
  .menu-area{
    width: 115% !important;
  }
  .navcardres{
    width: 250px !important;
  }
  .smallbanner{
    width: 63%;
    /* height:%; */
  }
  
}


@media only screen and (max-width: 768px) {
  .bigimg{
    width: 270px !important;
  }
  .css-j7qwjs {
    margin-right: 30% !important;
  }
  .usercolumn{
    width: 70% !important;
  }
  .columngrid{
    margin-left: 37px !important;
  }
  .BannerTitle{
    font-size: 27px !important;
  }
  .itemLoc li{
    width:29%!important;
  }
  .itemLoc li span{
    font-size: 12px!important;
  }
  .textcenter{
    text-align: -webkit-center;
  }
  .css-1i7jkzf{
    display:none !important;
  }
  .cardres{
    width: 416px;
    height: 260px;
    padding: 1.34rem 6.89rem 0 3.31rem !important;

  }
  .imgA1{
    height: 19.75rem;
  }
  .imgB1{
    width: 6.05rem;
    height: 13rem;
    left: 65%;
    top:40px;
    position: absolute;
    /* right: 3.31rem;
    bottom: .5rem; */
  }
  .rescard{
    width: 250px !important;
  }
  .avatarhide{
    display: none !important;
  }
}
@media only screen and (max-width: 1440px) {
  .css-clvyeo{
    width: 100% !important;
  }
  /* .smallcard{
    width: 43%;
    padding: 2rem;
  } */
}
@media only screen and (max-width: 375px) {
  /* .columngrid{
    margin-left: 15px !important;
  } */
}
.homeChoiceAwards{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
}
.homeChoiceAwards_img{
  width: 88px;
  height: 88px;
  margin-left: 15px;
}
.homeChoiceAwards_title{
  font-size: 22px;
  line-height: 2rem;
  font-family: 'Merriweather,Merriweather-fallback-TimesNewRoman,times,serif';
  font-weight: 700;
  margin-bottom: 2px;
}
@media only screen and (max-width: 425px) {
  .css-j7qwjs {
    margin-right: 0 !important;
  }
  .usercolumn{
    margin-left: 20px !important;
  }
  .itemLoc li{
    width:40%!important;
  }
  .itemLoc li span{
    font-size: 9px!important;
  }
  .hidebutton{
    display: none !important;
  }
  .locfield{
min-width: 95px !important;
  }
}
@media only screen and (max-width: 320px) {
  .bigimg{
    width: 200px !important;
  }
  .smallimg{
    width: 85px !important;
  }
  .imgB1{
    left: 60%;
  }
  /* .columngrid{
    margin-left: 15px !important;
  } */
  .itemLoc li{
    width:90%!important;
  }
  .itemLoc li span{
    font-size: 12px!important;
  }
  .imageshow {
    display: none;
  }
  .socialloginblock {
    max-width: 100% !important;
  }
  .sociallogin {
    display: block !important
  }
}
.avararalign {
  text-align: -webkit-center;
}
.avatarimage img:hover {
  transform: translate3d(0,-2px,0) scale3d(1.1,1.1,1.1);
}
.venues{
  list-style-type: none;
  padding: 0;
  }
.nameres{
  display: inline;
  padding: 5px 0;
  margin: 0;
  padding: 0;
  line-height: 2rem;
  /* text-align: -webkit-match-parent; */
}
.smallbanner{
  width: 63%;
}
.subname{
  display: block;
  font-weight: 600;
  clear: both;
  margin: 10px 0 5px;
  text-align: -webkit-match-parent;

}
.nameres:after{
  content: "\b7";
  margin: 0 .5rem;
}
.headcolor{
  color:black;
  font-size: 15px;
}
.bodyres{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.css-pl9742-JoyGrid-root {
  --Grid-columnSpacing: 20px !important;
  --Grid-rowSpacing: 20px !important;

}
.cardres{
  width: "400px";
max-width:'800px';
 margin: '10px'; min-height: '280px';
 background-color:'#f8f8f8'
}
.smallbanner{
  border-radius: 5px;
}
.innerheading{
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-family: Merriweather,Merriweather-fallback-TimesNewRoman,times,serif;
  font-weight: 700;
  margin-bottom: 1.5rem;

}
.css-clvyeo{
  width: 91% !important;
}
.findcard{
  width: 35% !important;
  padding: 2rem;
  box-shadow: 0 5px 12px #0003;
  background-color: #fff;
  border-radius: .5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.findtitle{
  font-size: 1.63rem;
  line-height: 2.5rem;
font-family: Merriweather,Merriweather-fallback-TimesNewRoman,times,serif;
font-weight: 700;
margin-bottom: .5rem;
}
.css-i4bv87-MuiSvgIcon-root{
  color: white;
}
.smallbaner{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  border-radius: .5rem;
  overflow: hidden;
  position: relative;

}
.Bannneralign{
  margin-bottom: calc(1.5rem - 5px);
  position: relative;

}
.feildres{
  margin-left: 0 !important;
}
.checklist{
  border-color: #d9d9d9;
  border-width: 1px 0;
  border-style: solid;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 0 20px;
  font-size: .9rem;
  list-style-type:none;
}
.checklistlink{
  display:flex;
  flex-direction: column;
  align-items:center;
  margin: 15px 0;
  text-align: center;
}
.checklisticon{
  width: 26px;
  height: 26px;
  margin-bottom: 5px;
  display: inline-block;
}
.css-137ul40-MuiButtonBase-root-MuiIconButton-root{
  margin-left: 0 !important;
}
.scroll{
  margin-left: 0;
  /* width: 35%; */
  flex: none;
  box-sizing: content-box;
}
.homeToo{
  /* flex-direction: row-reverse;
  justify-content: space-between; */
  padding: 0;
  min-height: 153px;
  transition: "box-shadow .2s";
  cursor: pointer;
  min-width: auto;
width: 100%;
height: 130px;
border-radius: .5rem;
box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

}
.css-136lhix-MuiGrid-root{
  flex-basis:100% !important;
}
.homeTooimage{
  padding: 0;
  line-height: 0;
  /* width: 29%; */
  float: right;
  border-radius: 0 .5rem .5rem 0;
}
.homeToo_content{
  /* padding: 1rem; */
float: left;
  /* display: flex; */
  width: 50%;
  /* flex-direction: row; */
  /* justify-content: center; */
}
.homeToo_title{
  margin-top: 0;
  font-size: 20px;
  line-height: 1.875rem;
  font-family: 'Merriweather,Merriweather-fallback-TimesNewRoman,times,serif';
  font-weight: 500;
}
.homeToo_sub{
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  letter-spacing: .0625rem;
  color: #6c6c6c;
}
.css-nw74th-MuiGrid-root {
  margin-bottom: 15px;
}
.bride-switchMargin{
  margin: 0 0 20px;
}
.bride{
  width: 100%;
}
.lab{
  color: #8c8c8c;
  width: 14.2857%;
}
.css-mmbet2{
  margin-bottom: 10px !important;
}
.css-mhc70k-MuiGrid-root{
  margin-left: 0 !important;
  width: inherit !important;
}
.css-ak0rgv-MuiGrid-root {
  max-width: 32% !important;
}
.columnsec{
  padding-bottom: 2rem;
  padding-top: 2rem;
  display: grid;
  grid-template-areas: "heading"
  "cardList"
  "extraLink";
}
.columnsec_tile{
  grid-area: "heading";
  text-align: left;
  margin-bottom: 1rem;
  cursor: pointer;
}
.columnsec_title{
  font-size: 1.125rem;
  line-height: 1.4375rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
    }
    .columnsec_link{
      font-size: 1.125rem;
      line-height: 1.6875rem;
      color: #fb1b26;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
    }
    .columnsec_linksvg{
      height: 12px;
      fill: #fb1b26;
      margin-left: 0.5rem;
      width: 16px;
      display: inline-block;
      line-height: 0;
    }
    .homeToolsCards__cardList{
      grid-area: "cardList";
      margin-bottom: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-gap:15px;
      list-style-type: none;
      padding: 10px !important;
    }
    .homeToolsCards__cardItem{
      font-size: .8125rem;
      line-height: 1.1875rem;
      box-shadow: 0 2px 8px #00000026;
      border: 0.5rem;
      padding: 1rem .2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .homeToolsCards__icon{
      width: 40px;
      height: 40px;
      display: inline-block;
    }
    .homeToolsCards__cardLink{
      font-weight: 600;
      text-align: center;
      margin-top: 0.5rem;
      display: block;
      text-decoration: none;
      color: #000;
    }
    .MuiListItemIcon-root{
      min-width: none !important;
    }
    .css-ahj2mt-MuiTypography-root {
      margin-bottom: 10px !important;
    }
    .css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
      width: 85% !important;
    }
    .css-sncb8{
      flex-basis:unset !important ;
    }